doctype html 
html 
    head 
        title Welcome to The Public Database 
        style 
            include ../Public/log_style.css
        script 
            include ../Public/index.js            
    body 
        h1 Public Database
        block content