doctype html 
html 
    head 
        title Welcome to The Public Database 
        style 
            include ../Public/log_style.css
        script 
            include ../Public/index.js     
        meta(name="viewport" content="width=device-width, initial-scale=1.0")    
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
        <link rel="icon" href="../Public/database.png">

    body 
        header 
            label.head Public Database
        block content
        footer
            h3 The Database Company&reg;