doctype html 
html 
    head 
        title Welcome to The Public Database 
        style 
            include ../Public/log_style.css
        script 
            include ../Public/index.js      
        meta(name="viewport" content="width=device-width, initial-scale=1.0")    

    body 
        h1 Public Database
        block content