extends base.pug

block content 
    div.container(style = " margin-top: 0px; margin-bottom: 0px;")
        div(class = "buttons")
                div.intro Create User Account
                form(action="/welcome" method = "post" class="loginForm")
                    input(type="text" class="inp" name="name" placeholder="Name" required="required")
                    br
                    input(type="phone" class="inp" name="phone" placeholder="Mobile Number" required="required")
                    br
                    input(type="text" class="inp" name="address" placeholder="Address" required="required")
                    br
                    label.pass
                        input(type="password" class="inp" id = "sec" name="pass" placeholder="Password" required="required")
                        <i id="icon" class="fa fa-eye-slash""></i>
                    br
                    button(class = "btn user" style = "padding:5px") 
                        | Submit          
                    label(style = "display:block; font: bolder 20px Roboto; letter-spacing:5px; color:white; margin-top: 10px; margin-bottom: 10px")= message               
