extends base.pug

block content 
    div.container.cu
        div(class = "buttons")
                div.intro Create User Account
                form(action="/new_user" method = "post" class="loginForm")
                    input(type="text" class="inp" name="name" placeholder="Enter Your Name" required="required")
                    br
                    input(type="phone" class="inp" name="phone" placeholder="Enter Your Mobile Number" required="required")
                    br
                    input(type="text" class="inp" name="address" placeholder="Enter Your Address" required="required")
                    br
                    label.pass
                        input(type="password" class="inp" id = "sec" name="pass" placeholder="Enter Your Password" required="required")
                        <i id="icon" class="fa fa-eye-slash""></i>
                    br
                    input(type="email" class="inp" name="email" placeholder="Enter Your E-Mail Address")
                    br
                    button(class = "btn user" style = "padding:5px") 
                        | Submit                     
