doctype html 
html 
    head 
        title CRUD 
        style 
            include ../Public/styles.css
        script 
            include ../Public/index.js 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")            
    body(onload = "greet()") 
        div.bar
            label.head Public Database
            label.msg= greet 
        div.flex-container      
            div(class = "flex-items two")
                label.intro Read
                form(action="/search" method = "get" class="inForm" target="_blank")
                    select(class = "fields" onclick="OPT(0)")
                        option(value = "Select one field" selected) Select one field
                        option(value="name") Name
                        option(value="phone") Phone
                        option(value="email") E-Mail
                        option(value="address") Address
                    input(type="text" class="inp selectedF" name="select" placeholder="Input Area")  
                    button(class = "btn") 
                        | Search
            div(class = "flex-items three")
                label.intro Update
                form(action="/up" method = "post" class="inForm")
                    select(class = "fields" onclick="OPT(1)")
                        option(value = "Select one field" selected) Select one field
                        option(value="name") Name
                        option(value="phone") Phone
                        option(value="email") E-Mail
                        option(value="address") Address
                    input(type="text" class="inp selectedF" name="select" placeholder="Input Area")  
                    button(class = "btn") 
                        | Update     
            div(class = "flex-items four")
                label.intro Delete Your Account
                form(action="/del" method = "delete" class="inForm")
                    button(class = "btn" ) 
                        | Delete
            






