doctype html 
html 
    head 
        title CRUD 
        style 
            include ../Public/home_style.css
        script 
            include ../Public/index.js 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")  
        <link rel="icon" href="../Public/database.png">          
    body 
        header
            div.head Public Database
            div.msg= greet 
        div.container      
            div(class = "flex-items one")
                label.intro Read
                form(action="/search" method = "get" class="loginForm" target="_blank")
                    select(class = "fields" onclick="OPT(0)")
                        option(value = "Select one field" selected) Select one field
                        option(value="name") Name
                        option(value="phone") Phone
                        option(value="address") Address
                    input(type="text" class="inp selectedF" name="select" placeholder="Input Area")  
                    button(class = "btn") 
                        | Search
            div(class = "flex-items two")
                label.intro Update
                form(action="/update" method = "post" class="loginForm")
                    select(class = "fields" onclick="OPT(1)")
                        option(value = "Select one field" selected) Select one field
                        option(value="name") Name
                        option(value="phone") Phone
                        option(value="address") Address
                    input(type="text" class="inp selectedF" name="select" placeholder="Input Area")  
                    button(class = "btn") 
                        | Update     
                    label(style = "display:block; font: bolder 10px Roboto; letter-spacing:5px; color:white")= message                              
            div(class = "flex-items three")
                label.intro Delete Your Account
                form(action="/delete" method = "post" class="loginForm" onsubmit="return confirm('Do you really want to delete your account?');")
                    button(class = "btn"  ) 
                        | Delete
        footer
            h3 The Database Company&reg;  
                                    
            






