extends base.pug
    
block content 
    div.container
        div(class = "buttons")
                div.intro Enter Credentials
                form(action="/welcome" method = "post" class="loginForm")
                    input(type="text" class="inp" name="name" placeholder="Enter Your Name" required="required")
                    br
                    label.pass
                        input(type="password" class="inp" id = "sec" name="pass" placeholder="Enter Your Password" required="required")
                        <i id="icon" class="fa fa-eye-slash"></i>
                    br
                    button(class = "btn user" style = "padding:5px") 
                        | Submit
                    br
                    br                        
                    label(style = "display:block; font: bolder 20px Roboto; letter-spacing:5px; color:white")= message                          
                                      
        