extends base.pug

block content 
    div.container
        div(class = "buttons")
                label.intro Enter Credentials
                form(action="/verify" method = "post" class="inForm")
                    input(type="text" class="inp req" name="name" placeholder="Enter Your Name" required="required")
                    input(type="password" class="inp req" name="pass" placeholder="Enter Your Password" required="required")
                    button(class = "btn" style = "padding:5px") 
                        | Submit
                    br
                    br                        
                    label(style = "display:block; font: bolder 20px Roboto; letter-spacing:5px; color:white")= message                          
                                      
