extends base.pug 

block content
    div.container
        div(class = "button_log")
            form(action = "/create_user" method = "get" class = "form") 
                h3 For New Users
                div.casing
                    button(class = "btn") Sign Up
        div(class = "button_log")
            form(action = "/login" method = "get" class = "form")    
                h3 For Existing Users
                div.casing
                    button(class = "btn") Log In
        