extends base.pug 

block content
    div.container
        div(class = "buttons sign")
            form(action = "/create_user" class = "form") 
                h3 For New Users
                button(class = "btn one") Sign Up
        div(class = "buttons log" )
            form(action = "/home" method = "get" class = "form")    
                h3 For Existing Users
                button(class = "btn two") Log In
        