@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Base Page */
*{
    box-sizing: border-box;
}
html{
    height: 100%; /* fallback for IE and older browsers */
    height: 100vh;
}
body{
    display:flex; 
    flex-direction:column; 
    justify-content: space-between;
    font-family: Roboto;
    background-color: rgb(33, 34, 36);
    height: auto; /* required to allow content to expand vertically without overflow */
    width: auto; 
    height: 100%; 
    height: 100vh;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    width:90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
    box-shadow:-3px -3px 65px #2e243d70 inset,3px 3px 65px #00000070 inset;
    border-radius: 20px;
}
footer{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color:bisque;
    background-color: rgb(41, 41, 43);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.head{
    padding:20px;
    font: small-caps bolder 30px Roboto;
    color:aliceblue;
    
    text-align: center;
    text-decoration: underline;
}

/* Welcome Page */
.container{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button_log{
    padding: 3%;
}
.casing{
    text-align: center;
}
.choose{
    color:rgb(117, 124, 131);
    font: bold 25px Roboto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    outline: none;
    cursor: pointer;
    width: 50vw;
    user-select: none;
    padding:10px;

    color:azure;
    font-size: 15px;
    border: 3px solid rgb(75, 67, 67);
    border-radius: 10px;
    transition: 0.4s;
    background-color: rgb(71, 57, 57);
    letter-spacing: 4px;
}
.btn:hover{
    color:white;
    letter-spacing: 8px;
    background-color: rgb(31, 31, 146);
}

/* Create User/Login Page */
.intro{
    margin-top: 20px;
    color: bisque;
    font: bold 25px Roboto;
}
.loginForm{
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.inp{
    background-color: rgb(43, 37, 37);
    color: bisque;
    outline: none;
    text-align: center;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50vw;

    border: 3px solid rgb(75, 67, 67);
    border-radius: 10px;
}

.pass{
    position: relative;
}
#icon{
    right: 18px;
    top: 15px;
    position: absolute;
    cursor: pointer;
    font-size: 20px;
}
.user{
    margin-top: 10px;
    width: 50vw;
}

@media only screen and (min-width:800px){
    .head{
        font: small-caps bolder 50px Roboto;
    }
    .choose{
        font-size: 35px;
    }
    .btn{
        width: 30vw;
    }
    .inp{
        width: 30vw;
        font-size: 15px;
    }
    .cu{
        margin-top: 10px;
        margin-bottom: 10px;


        
    }
}
