@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    box-sizing: border-box;
    background: url(../Public/img/img-4.jpg) no-repeat center fixed;
    background-size: cover;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}


.flex-container{
    margin: 15vh auto;
    height: 50vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: 10px solid rgb(189, 182, 182);
    border-radius: 20px;
}

.flex-items{
    margin: 15px 15px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    min-height: 30vh;
    min-width: 15vw;
    border: 5px solid rgb(92, 80, 80);
    border-radius: 20px;
    text-align: center;
    padding: 35px;
}


.inForm{
    display: block;
    margin:20px auto;
}

.four .inForm{
    margin:70px auto;
}

.intro{
    margin-top: 20px;
    font: bold 25px 'Roboto', sans-serif;
    text-decoration: underline;
}

.fields{
    outline: none;
    appearance: none;
    text-align: center;
    display: block;
    min-width: 12vw;
    margin: 10px auto;
    padding: 5px;
    font: 20px 'Roboto', sans-serif;
    border: 3px solid rgb(53, 49, 49);
    border-radius: 35px;
    background: rgb(98, 185, 95);
    
}

.inp{
    outline: none;
    text-align: center;
    display: block;
    margin: 10px auto;
    min-width: 12vw;
    padding-top: 5px;
    padding-bottom: 5px;
    font: bold 15px 'Roboto', sans-serif;
    border: 3px solid rgb(141, 126, 126);
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.5);
}

.btn{
    outline: none;
    user-select: none;
    min-width: 12vw;
    font: bold 20px 'Roboto', sans-serif;
    padding: 5px;
    border: 3px solid rgb(68, 63, 63);
    border-radius: 35px;
    background: rgba(14, 87, 223, 0.6);
    -webkit-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color:blanchedalmond;
    transition: 0.5s;
}

.btn:hover{
    text-decoration: underline;
    letter-spacing: 5px;
}

@media only screen and (min-width:700px){
    
}

